h1{
    margin: 0 0 20px 0;
}

.calc-display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.calc-func{
    margin: 0 20px;
}

.calc-input{
    height: 20px;
}

.calc-input:focus{
    outline: none;
}

.calc-result{
    margin: 0;
}

.keyboard-button{
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-color: #63b5874b;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.keyboard-button:hover{
    cursor: pointer;
    background-color: #63b58798;
}

.keyboard-buttons-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.checkbox, .change{
    margin-top: 20px;
}

.checkbox input{
    margin-right: 10px;
}

.message p{
    margin-top: 0;
    margin-bottom: 20px;
}
